<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="http://gdc.indeed.com/ads/apiresults.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <title>Jobs</title>  
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form method="GET" action="/users/<%= user.id %>" class="navbar-form navbar-left">
          <div class="form-group">
          <button type="submit" class="btn btn-primary">Profile</button>
          </div>  
        </form>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav><br>
  <div class="jumbotron">
    <div class="page-header">
      <h1>Welcome to Pipel1ne <small>The #1 source for veterans</small></h1>
      <h3> Jobs for <%= user.first_name %></h3>
    </div>     
  </div>
  <ul class="list-group">
    <% for ( var i = 0; i < searchResults.results.length; i++) { %>
    <li class="list-group-item">
      <h3>Job Title: <%= searchResults.results[i].jobtitle %></h3>
		Company: <%= searchResults.results[i].company %><br>
    	Location: <%= searchResults.results[i].formattedLocationFull %><br>
    	Date: <%= searchResults.results[i].date %><br>
    	Snippet: <%= searchResults.results[i].snippet %><br>
    	Source: <%= searchResults.results[i].source %><br>
		Job Key: <%= searchResults.results[i].jobkey %><br>
		Date Posted: <%= searchResults.results[i].formattedRelativeTime %><br>
		Source: <%= searchResults.results[i].source %><br> 
      <form method="POST" action="/jobs/<%= searchResults.results[i].jobkey %>">
        <div class="form-group">
          <button type="submit" class="btn btn-success">Save job</button>
        </div>  
      </form>
    </li>
    <% } %>
  </ul>

</body>
</html>

