<!DOCTYPE html>
<html>

<head>
	<title>Jobs</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>
	
<body> 
<div class = "container">
  <div class="jumbotron">
    <h1>Job Result</h1>
    <p id="lead">
    <!-- Loops through results from search query -->

    	<% for ( var i = 0; i < searchResults.results.length; i++) { %>
		    <h3>Job Title: <%= searchResults.results[i].jobtitle %></h3>
				Company: <%= searchResults.results[i].company %><br>
    			Location: <%= searchResults.results[i].formattedLocationFull %><br>
    			Date: <%= searchResults.results[i].date %><br>
    			Snippet: <%= searchResults.results[i].snippet %><br>
    			Source: <%= searchResults.results[i].source %><br>
				Job Key: <%= searchResults.results[i].jobkey %><br>
				Date Posted: <%= searchResults.results[i].formattedRelativeTime %><br>
				Source: <%= searchResults.results[i].source %><br> 
		<a class="saveJob" href="/save_job/<%= searchResults.results[i].jobkey %>">Click to Save</a>
		<% }; %>
	<!-- <form method="POST" action="/profile/<%= user.id %>"> 
          <input type="submit" value="Save Selected Jobs">
    </form>	 -->
    

    <form method="GET" action="/profile/<%= user.id %>"> 
          <input type="submit" value="Profile">
    </form>
  </div>
 
  <div class="row marketing">
    <div class="col-sm-4">
      <h4>Actors:</h4>
      <p><%= searchResults.Actors %></p>

      <h4>Released:</h4>
      <p><%= searchResults.Released %></p>
    </div>
    <div class="col-sm-4">
      <h4>Writers:</h4>
      <p><%= searchResults.Writer %></p>

      <h4>Ratings:</h4>
      <p>imdbRating: <%= searchResults.imdbRating %><br> 
      Metascore: <%= searchResults.Metascore %>
      </p>
    </div>
    <div class="col-sm-4">
      <h4>Awards:</h4>
      <p><%= searchResults.Awards %></p>
   
      <h4>Languages:</h4>
      <p><%= searchResults.Language %><br>
      	<%= searchResults.Country %>
      </p>
    </div>
  </div>
 
  <div class="footer">
    <p>© GA SF-WDI-14 2014 ~ Jonathan Edradan</p>
  </div>
 
</div> 
</body>

<style type="text/css">
	body {
	  padding-top: 20px;
	  padding-bottom: 20px;
	}
	 
	/* Everything but the jumbotron gets side spacing for mobile first views */
	.header,
	.marketing,
	.footer {
	  padding-right: 15px;
	  padding-left: 15px;
	}
	
	/* Custom page header */
	.header {
	  border-bottom: 1px solid #e5e5e5;
	}
	/* Make the masthead heading the same height as the navigation */
	.header h3 {
	  padding-bottom: 19px;
	  margin-top: 0;
	  margin-bottom: 0;
	  line-height: 40px;
	}
	
	/* Custom page footer */
	.footer {
	  padding-top: 19px;
	  color: #777;
	  border-top: 1px solid #e5e5e5;
	}
	
	/* Customize container */
	@media (min-width: 768px) {
	  .container {
	    max-width: 730px;
	  }
	}
	.container-narrow > hr {
	  margin: 30px 0;
	}
	
	/* Main marketing message and sign up button */
	.jumbotron {
	  text-align: center;
	  border-bottom: 1px solid #e5e5e5;
	}
	.jumbotron .btn {
	  padding: 14px 24px;
	  font-size: 21px;
	}
	
	/* Supporting marketing content */
	.marketing {
	  margin: 40px 0;
	}
	.marketing p + h4 {
	  margin-top: 28px;
	}
	
	/* Responsive: Portrait tablets and up */
	@media screen and (min-width: 768px) {
	  /* Remove the padding we set earlier */
	  .header,
	  .marketing,
	  .footer {
	    padding-right: 0;
	    padding-left: 0;
	  }
	  /* Space out the masthead */
	  .header {
	    margin-bottom: 30px;
	  }
	  /* Remove the bottom border on the jumbotron for visual effect */
	  .jumbotron {
	    border-bottom: 0;
	  }
	}
</style>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script>
	var savedJobs = document.getElementsByClassName('saveJob')
	savedJobs.addEventListener("click", function () {
		alert("Saved to Your Profile");
	});
		
</script>

</html>

