<!DOCTYPE html>
<html>
<head>
	<title>Edit</title>
</head>
<body>
	<h1>Edit Profile</h1>
		<form method="POST" action="/users/<%= user.id %>?_method=PATCH">
			<input type="text" 		name="first_name"          	placeholder="First Name" 			value="<%= user.first_name %>">
			<input type="text" 		name="last_name"           	placeholder="Last Name" 			value="<%= user.last_name %>">
			<input type="text" 		name="address"              placeholder="Street Address" 		value="<%= user.address %>">
			<input type="text" 		name="city"                	placeholder="City" 					value="<%= user.city %>">
			<input type="text" 		name="state"               	placeholder="State" 				value="<%= user.state %>">
			<input type="text" 		name="service"             	placeholder="Service Branch" 		value="<%= user.service %>">
			<input type="text" 		name="rank"                	placeholder="Rank" 					value="<%= user.rank %>">
			<input type="text" 		name="security_clearance"  	placeholder="Security Clearance" 	value="<%= user.security_clearance %>">
			<input type="text" 		name="skills"              	placeholder="Skills" 				value="<%= user.skills %>">
			<input type="text" 		name="username"           	placeholder="Username" 				value="<%= user.username %>">
			<input type="password" 	name="password"        		placeholder="Password" 				value="<%= user.password %>">
			<input type="text" 		name="email"               	placeholder="Email" 				value="<%= user.email %>">
			<input type="submit">
		</form>
	<button><a href="http://localhost:5000/">Main Page</a></button> 
</body>
	</html>