<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="http://gdc.indeed.com/ads/apiresults.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <title>Profile</title>  
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form method="GET" action="/" class="navbar-form navbar-left">
          <div class="form-group">
          <button type="submit" class="btn btn-primary">Main page</button>
          </div>  
        </form>
        <form method="GET" action="/search" class="navbar-form navbar-left">
          <div class="form-group">
          <input value="<%= user.skills %> , <%= user.security_clearance %>" type="hidden" name = "l">
          <button type="submit" class="btn btn-success">Jobs for you</button>
          </div>  
        </form>
        <form method="GET" action="/search" class="navbar-form navbar-left">
          <div class="form-group">
          <input type="text" class="form-control" placeholder="Keyword search" name="l" focus>
          <button type="submit" class="btn btn-warning">Search more jobs</button>
          </div>  
        </form>
        <form method="POST" action="/sessions?_method=DELETE" class="navbar-form navbar-right">
          <div class="form-group">
          <button type="submit" class="btn btn-danger">Log-out</button>
          </div>  
        </form>
        <form method="GET" action="/users/<%= user.id %>/edit" class="navbar-form navbar-right">
          <div class="form-group">
          <button type="submit" class="btn btn-primary">Edit profile</button>
          </div>  
        </form>
        <form method="GET" action="/jobs" class="navbar-form navbar-right">
          <div class="form-group">
          <button type="submit" class="btn btn-primary">Edit saved jobs</button>
          </div>  
        </form>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav><br>
  <div class="jumbotron">
    <div class="page-header">
      <h1>Welcome to Pipel1ne <small>The #1 source for veterans</small></h1>
      <h3><%= user.first_name %> <%= user.last_name %>'s Saved Jobs </h3>
    </div>     
  </div>

</body>

  <ul class="list-group">
    <% for (var i = 0; i < jobs.length; i++) { %>
    <li class="list-group-item">
      Job Title: <%= jobs[i].title %><br>
      Company: <%= jobs[i].company %><br>
      Location: <%= jobs[i].location %><br>
      <form>
        <div class="form-group">
          <button type="submit" class="btn btn-success">Apply (comming soon)</button>
        </div>  
      </form>
    </li>
    <% } %>
  </ul>

</body>
</html>